*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  body{
    background-color: whitesmoke;
  }
  /* Header session */
  .main-header{
      background-color: #000044;
       /* position: fixed; */
       width: 100%;
  }
  li{
      list-style: none;
      color: white;
  }
  a{
      color: white;
      text-decoration: none;
  }
  .navigation-menu{
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 4rem;
  }
  .navigation-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  img{
    max-width: 100px;
    height: 13vh;
  }
  .nav-link{
    transition: 0.9s ease;
  }
  .nav-link:hover{
    color: #f44336;
  } 
  .mobile-view{
    display: none;
    cursor: pointer;
  }
  
  .navigation-bar{
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: white;   
  }
  
  @media(max-width:768px){
      .mobile-view{
          display: block;
      }
      .mobile-view.active .navigation-bar:nth-child(2){
          opacity: 0;
      }
      .mobile-view.active .navigation-bar:nth-child(1){
          transform: translateY(8px) rotate(45deg);
      }
      .mobile-view.active .navigation-bar:nth-child(3){
          transform: translateY(-8px) rotate(-45deg);
      }
      .navigation-list{
          position: absolute;
          left: -100%;
          top: 85px;
          gap: 0;
          flex-direction: column;
          background-color: #000044;
          width: 100%;
          text-align: center;
          transition: 0.3s;
      }
      .navigation-item{
          margin: 16px 0;
      }
      .navigation-list.active{
          left: 0;
      }
  }

main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
  }
  
  section h1 {
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
  }
  
  section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
  }
  
  section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
  section .first-button {
    background: #0047AB;
    color: #ffff;
  }
  
  .first-button:hover {
    background: #088F8F;
    color: white;
  }
  
  section .second-button {
    background: #0047AB;
    color: white;
  }
  
  .second-button:hover {
    background: #088F8F;
    color: white;
  }
  
  .content-animation:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #140B5C;
  }
  @keyframes changetext {
    0% {
      content: "Website";
    }
    20% {
      content: "Company";
    }
    35% {
      content: "Our Services";
    }
    60% {
      content: "Developer";
    }
    80% {
      content: "Founder";
    }
    100% {
      content: "Information";
    }
  }


/*About the website section*/
.website-information{
    width: 100%;
    height: 300px;
    background: #010143;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.website-information h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
}
.website-information p{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
}



/*Website contact information*/
#website-contact-info{
    background: #000044;
    width: 100%;
    padding: 10px;
}
body, input, textarea, a{
    font-family: 'Roboto', sans-serif;
}
 
.website-contact-details{
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 30px;
    margin-top: 30px;
    margin: auto;
    height: 440px;
}
.website-contact-wrapper{
    width: 40%;
    height: 430px;
    padding: 20px;
    padding-top: 30px;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgba(126,39,156,1)0%, rgba(49,39,157,1)100%);
    color: #fff;

}
.website-contact{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.website-contact-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.contact-details{
    list-style: none;
    /* margin: 60px 0px; */
} 
.contact-details{
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.contact-details li i{
    /* background: #F44770; */
    padding: 8px;
    border-radius: 40%;
    margin-right: 2px;
}
.contact-details li a{
    color: #fff;
    text-decoration: none;  
}
.contact-details li a:hover{
    color: #F44770;
}
.website-social-handles{
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.website-social-handles li{
    display: inline-block;
}
.website-social-handles li i{
    background: #F44770;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all 5s;
}
.website-social-handles li i:hover{
    background: #fff;
    color: #000;
}
.website-contact-form{
    width: 60%;
    height: 430px;
    padding: 40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.website-form-header{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.website-form-wrapper{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.website-form-wrapper input,
.website-form-wrapper textarea{
    border: none;
    outline: none;
    background: none;
    color: #555;
    padding: 5px 2px 5px 0px; 
    width: 100%;
}
.website-form-wrapper textarea{
    height: 80px;
    resize: none;
    width: 80%;

}
.form-field{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbc3d1, inset -8px -8px 10px #ffffff;
}
.website-form-wrapper .form-field:last-child{
    width: 96%;
}
.submit-button{
    width: 60%;
    height: 50px;
    margin: 0px 12px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    background: #F44770;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
    transition: 5s;

}
.submit-button:hover{
    background: #31219d;
}
@media (max-width: 767px){
    .website-contact-details{
        width: 100%;

    }
    .website-contact-wrapper,
    .website-contact-form{
        width: 100%;
        height: inherit;
        float: none;
    }
    .website-contact-wrapper{
        border-radius: 30px 30px 0px 0px;
    }
    /* .website-contact-form{
        border-radius: 30px 30px 0px 0px;
    } */
    .form-field{
        width: 100%;
        float: none;
        /* margin: 25px 0px; */
    }
    .website-form-wrapper .form-field:last-child,
    .submit-button{
        width: 100%;
    }
      .submit-button{
        margin: 10px 0px;
    } 

} 
    

/*Contact form ends*/

/* footer Starts*/
footer{
  position: relative;
  background-color: #140B5C;
  width: 100%;
  /* bottom: 0; */
  left: 0;
 }
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 5.6rem;
  height: 0.063rem;
  width: 100%;
  background: #afafb6;
}
footer .footer-container{
  max-width: 78.1rem;
  margin: auto;
  padding: 1.8rem 2.5rem 2.5rem 2.5rem;
  margin-bottom: 3.1rem;
}
footer .footer-container .footer-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.1rem;
}
.footer-container .footer-header .footer-header-name{
  color: #fff;
  font-size: 1.9rem;
}
.footer-container .footer-header .footer-social-media{
  display: flex;
}
.footer-container .footer-header .footer-social-media a{
  height: 2.5rem;
  width: 2.5rem;
  background: red;
  margin: 0 0.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5;
  color: #fff;
  font-size: 1.06rem;
  text-decoration: none;
  transition: all 0.4s ease;
}
.footer-header .footer-social-media a:nth-child(1){
  background: #4267B2;
}
.footer-header .footer-social-media a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.footer-header .footer-social-media a:nth-child(2){
  background: #1DA1F2;
}
.footer-header .footer-social-media a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.footer-header .footer-social-media a:nth-child(3){
  background: #E1306C;
}
.footer-header .footer-social-media a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.footer-header .footer-social-media a:nth-child(4){
  background: #0077B5;
}
.footer-header .footer-social-media a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.footer-header .footer-social-media a:nth-child(5){
  background: #FF0000;
}
.footer-header .footer-social-media a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .footer-container .footer-logo{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer-container .footer-logo img{
  max-width: 8.125rem;
  height: 30vh;
}
/*This is the css used to split the footer*/
footer .footer-container .footer-logo .footer-information{
  width: calc(100% / 3 - 10px);
}
.footer-container .footer-logo .footer-information .info-per-column{
  color: #fff;
  font-size: 1.13rem;
  font-weight: 400;
  margin-bottom: 0.625;
  position: relative;
}
.footer-logo .footer-information .info-per-column::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  height: 0.125rem;
  width: 2.19rem;
  background: #fff;
}
.footer-container .footer-logo .footer-information p{
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.footer-container .footer-logo .footer-information li{
  margin: 1rem 0;
  list-style: none;
}
.footer-container .footer-logo .footer-information li a{
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.footer-container .footer-logo .footer-information li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.footer-container .footer-logo .input-box{
  margin-right: 3.4rem;
}
.footer-logo .input-box input{
  height: 2.5rem;
  width: calc(100% + 3.4rem);
  outline: none;
  border: 0.12rem solid #AFAFB6;
  background: #140B5C;
  border-radius: 0.25rem;
  padding: 0 0.93;
  font-size: 0.9rem;
  color: #fff;
  margin-top: 0.3rem;
}
.footer-logo .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 1rem;
}
.footer-logo .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.2rem 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .legal-info{
  width: 100%;
  background: #0F0844;
}
footer .legal-info .legal-details{
  max-width: 78.1rem;
  margin: auto;
  padding: 1.2rem 2.5rem;
  display: flex;
  justify-content: space-between;
}
.legal-info .legal-details span,
.legal-info .legal-details a{
  font-size: 0.9rem;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.legal-info .legal-details a:hover{
  opacity: 1;
  text-decoration: underline;
}
.legal-info .legal-details a{
  margin-right: 0.6rem;
}
/* This media querry if for screen that is not more than 900px */
@media (max-width: 900px) {
   footer .footer-container .footer-logo{
    flex-wrap: wrap;
  }
  footer .footer-container .footer-logo .input-box{
    width: 40%;
    margin-top: 0.6rem;
  } 
  footer::before{
    top: 5.3rem; 
  }
  .footer-container .footer-header .footer-header-name{
    font-size: 0.6rem;
  }
  .footer-container .footer-header .footer-header-name .the_name{
    font-size: 1.2rem;
  }
  .footer-container .footer-header .footer-social-media a{
    font-size: 1.1rem;   
  }
}
/* This media querry if for screen that is not more than 700px */
@media (max-width: 700px) {
  footer{
    position: relative;
    
   }
  .footer-container .footer-header .footer-header-name{
    font-size: 1.6rem;
  }

  .footer-container .footer-header .footer-social-media a{
    height: 2.1rem;
    width: 2.1rem;
    font-size: 0.9rem;
    line-height: 2.2rem;
  }
   footer .footer-container .footer-logo .footer-information{
    width: calc(100% / 2 - 0.6rem);
  }

  footer .footer-container .footer-logo .input-box{
    width: 60%;
  } 
  .legal-info .legal-details span,
  .legal-info .legal-details a{
  font-size: 0.75rem;
}
}
/* This media querry if for screen that is not more than 520px */
@media (max-width: 520px){
  footer .footer-container .footer-header{
    flex-direction: column;
  }
  footer::before{
    top: 9rem;
  }
  .footer-container .footer-header .footer-social-media{
    margin-top: 1rem;
  }
  footer .footer-container .footer-logo .footer-information{
    width: calc(100% / 2 - 0.6rem);
  }
  footer .footer-container .footer-logo .input-box{
    width: 100%;
  }
}
/* footer Ends*/