*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.main-header{
  background-color: #000044;
  position: fixed;
  width: 100%;
}
li{
  list-style: none;
  color: white;
}
a{
  color: white;
  text-decoration: none;
}
.navigation-menu{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
}
.navigation-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

img{
  max-width: 100px;
  height: 13vh;
}

.navigation-field{
  transition: 0.9s ease;
}
.navigation-field:hover{
  color: #f44336;
} 

.mobile-view{
  display: none;
  cursor: pointer;
}

.navigation-bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;

  
}

@media(max-width:768px){
  .mobile-view{
      display: block;
  }
  .mobile-view.active .navigation-bar:nth-child(2){
      opacity: 0;
  }
  .mobile-view.active .navigation-bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .mobile-view.active .navigation-bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }
  .navigation-list{
      position: absolute;
      left: -100%;
      top: 85px;
      gap: 0;
      flex-direction: column;
      background-color: #000044;
      width: 100%;
      text-align: center;
      transition: 0.3s;
  }
  .navigation-item{
      margin: 16px 0;
  }
  .navigation-list.active{
      left: 0;
  }
}








/****************************/
/* header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

h1 {
	margin: 0;
}

main {
	padding: 20px;
}

#comparison-form {
	margin-bottom: 30px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"] {
	padding: 5px;
	width: 200px;
	margin-bottom: 10px;
}

button[type="submit"] {
	background-color: #333;
	color: #fff;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}

#comparison-result {
	display: none;
}

#result-heading {
	margin-top: 0;
}

#result {
	padding: 20px;
	background-color: #f2f2f2;
	border: 1px solid #333;
} */

/* Center the comparison-form section */

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

h1 {
	margin: 0;
}

main {
	padding: 20px;
}
#comparison-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the form inputs */
#compare-form input[type="text"],
#compare-form button[type="submit"] {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

/* Style the form button */
#compare-btn {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

/* Style the loader */
#loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #4CAF50;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

/* Style the result section */
#comparison-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the result heading */
/* #result-heading {
  margin-bottom: 10px;
} */

/* Hide the loader by default */
.d-none {
  display: none !important;
}

/* Animation for the loader */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}











/* footer */
footer{
position: relative;
background-color: #140B5C;
width: 100%;
/* bottom: 0; */
left: 0;
}

footer::before{
content: '';
position: absolute;
left: 0;
top: 90px;
height: 1px;
width: 100%;
background: #afafb6;

}
footer .footer-container{
max-width: 1250px;
margin: auto;
padding: 30px 40px 40px 40px;
margin-bottom: 50px;
}
footer .footer-container .footer-header{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 50px;
}
.footer-container .footer-header .footer-header-name{
color: #fff;
font-size: 30px;
}

.footer-container .footer-header .footer-social-media{
display: flex;
}
.footer-container .footer-header .footer-social-media a{
height: 40px;
width: 40px;
background: red;
margin: 0 8px;
border-radius: 50%;
text-align: center;
line-height: 40px;
color: #fff;
font-size: 17px;
text-decoration: none;
transition: all 0.4s ease;
}
.footer-header .footer-social-media a:nth-child(1){
background: #4267B2;
}
.footer-header .footer-social-media a:nth-child(1):hover{
color: #4267B2;
background: #fff;
}
.footer-header .footer-social-media a:nth-child(2){
background: #1DA1F2;
}
.footer-header .footer-social-media a:nth-child(2):hover{
color: #1DA1F2;
background: #fff;
}
.footer-header .footer-social-media a:nth-child(3){
background: #E1306C;
}
.footer-header .footer-social-media a:nth-child(3):hover{
color: #E1306C;
background: #fff;
}
.footer-header .footer-social-media a:nth-child(4){
background: #0077B5;
}
.footer-header .footer-social-media a:nth-child(4):hover{
color: #0077B5;
background: #fff;
}
.footer-header .footer-social-media a:nth-child(5){
background: #FF0000;
}
.footer-header .footer-social-media a:nth-child(5):hover{
color: #FF0000;
background: #fff;
}

footer .footer-container .footer-logo{
width: 100%;
display: flex;
justify-content: space-between;
}
footer .footer-container .footer-logo img{
max-width: 130px;
height: 30vh;
}

/*Use to split the footer*/
footer .footer-container .footer-logo .footer-information{
width: calc(100% / 3 - 10px);
}
.footer-container .footer-logo .footer-information .info-per-column{
color: #fff;
font-size: 18px;
font-weight: 400;
margin-bottom: 10px;
position: relative;
}
.footer-logo .footer-information .info-per-column::before{
content: '';
position: absolute;
left: 0;
bottom: -2px;
height: 2px;
width: 35px;
background: #fff;
}

.footer-container .footer-logo .footer-information p{
color: white;
font-size: 14px;
font-weight: 400;
text-decoration: none;
opacity: 0.8;
transition: all 0.4s ease
}
.footer-container .footer-logo .footer-information li{
margin: 6px 0;
list-style: none;
}

.footer-container .footer-logo .footer-information li a{
color: #fff;
font-size: 14px;
font-weight: 400;
text-decoration: none;
opacity: 0.8;
transition: all 0.4s ease
}
.footer-container .footer-logo .footer-information li a:hover{
opacity: 1;
text-decoration: underline;
}
.footer-container .footer-logo .input-box{
margin-right: 55px;
}
.footer-logo .input-box input{
height: 40px;
width: calc(100% + 55px);
outline: none;
border: 2px solid #AFAFB6;
background: #140B5C;
border-radius: 4px;
padding: 0 15px;
font-size: 15px;
color: #fff;
margin-top: 5px;
}
.footer-logo .input-box input::placeholder{
color: #AFAFB6;
font-size: 16px;
}
.footer-logo .input-box input[type="button"]{
background: #fff;
color: #140B5C;
border: none;
font-size: 18px;
font-weight: 500;
margin: 4px 0;
opacity: 0.8;
cursor: pointer;
transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
opacity: 1;
}
footer .legal-info{
width: 100%;
background: #0F0844;
}
footer .legal-info .legal-details{
max-width: 1250px;
margin: auto;
padding: 20px 40px;
display: flex;
justify-content: space-between;
}
.legal-info .legal-details span,
.legal-info .legal-details a{
font-size: 14px;
font-weight: 300;
color: #fff;
opacity: 0.8;
text-decoration: none;
}
.legal-info .legal-details a:hover{
opacity: 1;
text-decoration: underline;
}
.legal-info .legal-details a{
margin-right: 10px;
}


@media (max-width: 900px) {
 footer .footer-container .footer-logo{
  flex-wrap: wrap;
}
footer .footer-container .footer-logo .input-box{
  width: 40%;
  margin-top: 10px;
} 
footer::before{
  top: 85px; 
}
.footer-container .footer-header .footer-header-name{
  font-size: 10px;
}
.footer-container .footer-header .footer-header-name .the_name{
  font-size: 20px;
}
.footer-container .footer-header .footer-social-media a{
  font-size: 17px;   
}
}

@media (max-width: 700px) {
footer{
  position: relative;
  
 }
.footer-container .footer-header .footer-header-name{
  font-size: 26px;
}

.footer-container .footer-header .footer-social-media a{
  height: 35px;
  width: 35px;
  font-size: 14px;
  line-height: 35px;
}
 footer .footer-container .footer-logo .footer-information{
  width: calc(100% / 2 - 10px);
}

footer .footer-container .footer-logo .input-box{
  width: 60%;
} 
.legal-info .legal-details span,
.legal-info .legal-details a{
font-size: 12px;
}
}

@media (max-width: 520px){
footer .footer-container .footer-header{
  flex-direction: column;
}
footer::before{
  top: 145px;
}
.footer-container .footer-header .footer-social-media{
  margin-top: 16px;
}
footer .footer-container .footer-logo .footer-information{
  width: calc(100% / 2 - 10px);
}
footer .footer-container .footer-logo .input-box{
  width: 100%;
}
}
